<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theater.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @theater.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @theater.location %>
</p>

<p>
  <strong>Showing now:</strong>
  <% @movies.each do |movie| %>
    <%= link_to movie.title, movie %>
  <% end %> 
</P>

<div>
  <strong>Show timings:</strong>
  <% @theater.timings.each do |timing| %>
    <span class="badge badge-secondary ml-1"><%= timing %></span>
  <% end %>
  <p class="mt-2">
    [Select a time slot to book ticket]
  </p>
  <%= link_to 'Book ticket', book_ticket_path %>
</div>

<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>
